body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

/*NAV-MENU*/
.nav-menu {
  background-color: #dc7430;
  padding: 1px;
  text-align: right;
  color: white;
  padding-right: 22px;
}
.nav-menu a {
  color: white;
  padding-right: 0.5rem;
  font-size: 14px;
}
/*NAV*/
nav {
  background-color: #dc742f;
  box-shadow: none;
}
nav img {
  margin: 7px 0px;
}
i {
  margin: 3px;
}

.dropdown-content {
  top: -64px;
}
.dropdown-content li a {
  color: black;
}

/*SECTION ONE*/
#home {
  padding-top: 20px;
  min-height: 450px;
  background-image: url("../img/bg-home.png");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
}

/*SECTION TWO*/
#graficos {
  padding: 40px 0px;
  background-image: url("../img/fondo-g.png"),
  linear-gradient(to bottom,
  rgba(254, 198, 132, 1),
    rgba(254, 134, 93, 1));
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  text-align: center;
}

#graficos .line-white {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

#graficos img{
    margin-top: 10px;
}

#graficos h1 {
  color: white;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 37px;
  font-weight: bold;
}

#graficos p {
  color: white;
  font-size: 20px;
}

/*SECTION THREE*/

