body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*NAV-MENU*/
.nav-menu {
  background-color: #dc7430;
  padding: 1px;
  text-align: right;
  color: white;
  padding-right: 22px;
}
.nav-menu a {
  color: white;
  padding-right: 0.5rem;
  font-size: 14px;
}
/*NAV*/
nav {
  background-color: #dc742f;
  box-shadow: none;
}
nav img {
  margin: 7px 0px;
}
i {
  margin: 3px;
}

.dropdown-content {
  top: -64px;
}
.dropdown-content li a {
  color: black;
}

/*SECTION ONE*/
#home {
  padding-top: 20px;
  min-height: 450px;
  background-image: url("../img/bg-home.png");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
}
